body {
	text-align: center;
	font-family: Helvetica;
	font-size: 12px;
}

header {
	border-bottom-style: solid;
	border-bottom-color: #999;
	border-bottom-width: 1px;
	border-bottom-left-radius: 35px;
	border-bottom-right-radius: 35px;
	margin-bottom: 10px;
}

footer {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	height: 80px;
}

input.text {
	width: 99%;
}
::-webkit-input-placeholder {
   color: red;
   text-align: center;
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;  
   text-align: center;
   font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;
   text-align: center;
   font-style: italic;
}

:-ms-input-placeholder {  
   color: red;
   text-align: center;
   font-style: italic;
}

img {
	width: 100%;
}

p {
	text-align: left;
}

.new_post input {
	margin: 6px;
}


.row {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom-color: #bbb;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}

p.text-muted {
	font-size: 12px;
	font-style: italic;
}